@model IEnumerable<A1fxCrm.Web.Models.CustomerTicket>

@{
    ViewBag.Title = "Müşteri Görüşme notları";
    Layout = null;
}


<div id="page-actions" class="clearfix">
    <div btn-actions="" ng-transclude="" ng-style="BtnActionLeft()" class="btn-toolbar pull-left" style="left: auto;">
        <button class="btn btn-small btn-success ng-scope" data-ng-click="add()">
            <i class="icon-plus"></i>&nbsp;@Html.ActionLink("Ekle", "Create", new { id = Model.First().CustomerId })
        </button>


    </div>

</div>
Müşteri Temsilci Notları:
<table class="table table-bordered table-hover">
    <tr>
        <th>Detay</th>
        <th>Tarih-Saat</th>
          <th>
            Başlık
        </th>
        <th>M. Temsilcisi Açıklama
        </th>
      
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.ActionLink("Not Detay", "Edit", new { id = item.Id })  </td>
            <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
             <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
           
        </tr>
    }

</table>
