@model IEnumerable<A1fxCrm.Web.Models.CustomerTicket>

@{
 
    Layout = null;
}
<script>
    tinymce.init({ selector: 'textarea' });
</script>
 
<div data-ng-controller="GroupsCtrl">

    <textarea data-ng-model="yourName" id="yourName" name="yourName" cols="400" rows="3" class="ng-pristine ng-valid" style="margin: 0px 0px 10px; width: 654px; height: 69px;"></textarea>
    <input type="hidden" data-ng-model="id" value="@Model.FirstOrDefault().CustomerId" data-ng-init="id=@Model.FirstOrDefault().CustomerId"/>
    <br />
    <button class="btn btn-primary" data-ng-click="save()">
        Müşteri Notunu Kaydet
    </button>


</div>


<table class="table table-bordered table-hover" style="margin-top: 40px;">
    <tr>
        <th colspan="3">Temsilci Notları:</th>
    </tr>
    <tr>
        <th>Detay</th>
        <th>Tarih-Saat</th>

        <th>M. Temsilcisi Açıklama
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.ActionLink("Detay", "Edit", new { id = item.Id })  </td>
            <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>

            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>

        </tr>
    }

</table>
