@model A1fxCrm.Web.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="#">Anasayfa</a> <span class="divider">/</span></li>
    <li class="active">Bilgilendirme Mesajları</li>
</ul>
 
@section sidebar {
@Html.Partial("_RightMenu")
}

@Html.Partial("_CustomerDetails", Model)

@Html.Action("Index", "Tickets", new { id = Model.Id })

<p>

    @Html.ActionLink("Müşteri Listesi", "Index")
</p>
